@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 218 11% 12%;
  --card: 214 32% 94%;
  --card-foreground: 218 11% 12%;
  --popover: 0 0% 100%;
  --popover-foreground: 218 11% 12%;
  --primary: 218 11% 12%;
  --primary-foreground: 0 0% 100%;
  --secondary: 258 90% 66%;
  --secondary-foreground: 0 0% 100%;
  --muted: 214 32% 94%;
  --muted-foreground: 218 11% 12%;
  --accent: 258 90% 66%;
  --accent-foreground: 0 0% 100%;
  --destructive: 18 93% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 220 9% 46%;
  --input: 214 32% 94%;
  --ring: 258 90% 66% / 0.5;
  --radius: 0.5rem;
  --chart-1: 258 90% 66%;
  --chart-2: 18 93% 50%;
  --chart-3: 142 71% 29%;
  --chart-4: 22 93% 54%;
  --chart-5: 218 11% 12%;
}

.dark {
  --background: 222 47% 11%;
  --foreground: 214 32% 94%;
  --card: 217 33% 17%;
  --card-foreground: 214 32% 94%;
  --popover: 217 33% 17%;
  --popover-foreground: 214 32% 94%;
  --primary: 214 32% 94%;
  --primary-foreground: 222 47% 11%;
  --secondary: 258 90% 66%;
  --secondary-foreground: 0 0% 100%;
  --muted: 215 20% 26%;
  --muted-foreground: 217 11% 59%;
  --accent: 258 90% 66%;
  --accent-foreground: 0 0% 100%;
  --destructive: 18 93% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 215 16% 35%;
  --input: 215 20% 26%;
  --ring: 258 90% 66% / 0.5;
  --chart-1: 258 90% 66%;
  --chart-2: 18 93% 50%;
  --chart-3: 142 71% 29%;
  --chart-4: 22 93% 54%;
  --chart-5: 214 32% 94%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
